@import '../../colors.scss';

$border-width: 5px;

.items {
  padding: 10px;
}

.cource-item {
    position: relative;
    background: $background;
    border: $border-width solid $border;
    border-radius: 11px;
    margin: 30px auto;
    padding: 40px 15px;
  }

  